<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AliPort</title>
    <script src="https://kit.fontawesome.com/f4f8f1d1df.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="lightbox.css">
    <link rel="shortcut icon" href="localImgs/cf24351e00bf416685b90117afcce061 (1).png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Aleo:ital,wght@1,300&family=Gayathri:wght@100&family=Gwendolyn:wght@400;700&family=Roboto:wght@100;300&family=Signika+Negative:wght@300;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <main>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-sm">
                    <a class="brand" href="/">ALIPORT</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link" href="#">Home</a>
                            <a class="nav-link" href="#gal">Work</a>
                            <a class="nav-link" href="#about">About</a>
                            <a class="nav-link" href="#skills">Skills</a>
                            <a class="nav-link" href="#serv">Services</a>
                            <a class="nav-link" href="#contact">Contact</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <section class="land">
            <div id="particles-js" class=""></div>
            <div class="container-sm">
                <div class="content">
                    <h1 class="lead display-4">We love to <span class="type"></span></h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam amet molestias dignissimos
                        repudiandae officiis expedita cumque sed et suscipit placeat officia, quisquam nam eveniet.
                        Odio, neque molestias. Nisi, ipsa vero?</p>
                    <a href="" class="btn btn-success">Hire Me</a>
                </div>
            </div>
        </section>
        <section class="tiser container-sm">
            <div class="row">
                <div class="tiser_content col-sm-6">
                    <h2>Create</h2>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur illo
                        consequatur id
                        corporis d btnMoreolores ad porro modi. Nisi adipisci eos alias dignissimos ad. Veniam quo
                        veritatis
                        incidunt necessitatibus dolorem.
                    </p>
                    <ul class="mt-3">
                        <li><span class="check">&#x2713;</span> WebApps</li>
                        <li><span class="check">&#x2713;</span> Desktop</li>
                        <li><span class="check">&#x2713;</span> Mobile</li>
                        <li><span class="check">&#x2713;</span> Graphic designe</li>
                    </ul>
                </div>
                <div class="tiser_content col-sm-6 pt-5 pt-sm-0">
                    <h2>Scale</h2>
                    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse consequuntur, enim
                        repellendus
                        corrupti voluptatem earum aliquam nulla cum quo error rem eligendi dolor iure inventore sapiente
                        atque modi fuga aperiam.
                    </p>
                    <ul class="mt-3">
                        <li><span class="check">&#x2713;</span> Markiting</li>
                        <li><span class="check">&#x2713;</span> SEO</li>
                        <li><span class="check">&#x2713;</span> Analytics</li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="" id="gal"></div>
        <section class="galery py-5">
            <h1 class="display-4 mb-0">My work</h1>
            <div class="colorful-line mb-3 my-0 mx-auto"></div>
            <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae laboriosam nobis
                expedita,
                harum, veritatis voluptates officiis
            </p>
            <div class="gal mt-5">
                <div class="gal_box">
                    <img src="localImgs/photo-1510936111840-65e151ad71bb.avif" alt="" srcset="">
                    <div class="overlay">
                        <div class="img_txt">
                            <p class="text-muted">Code with us</p>
                            <a href="localImgs/photo-1510936111840-65e151ad71bb.avif" data-lightbox="models"
                                data-title="Code along"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </div>
                    </div>
                </div>
                <div class="gal_box">
                    <img src="localImgs/photo-1510936111840-65e151ad71bb.avif" alt="" srcset="">
                    <div class="overlay">
                        <div class="img_txt">
                            <p class="text-muted">Code with us</p>
                            <a href="localImgs/photo-1510936111840-65e151ad71bb.avif" data-lightbox="models"
                                data-title="Code along"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </div>
                    </div>
                </div>
                <div class="gal_box">
                    <img src="localImgs/photo-1510936111840-65e151ad71bb.avif" alt="" srcset="">
                    <div class="overlay">
                        <div class="img_txt">
                            <p class="text-muted">Code with us</p>
                            <a href="localImgs/photo-1510936111840-65e151ad71bb.avif" data-lightbox="models"
                                data-title="Code along"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </div>
                    </div>
                </div>
                <div class="gal_box">
                    <img src="localImgs/photo-1510936111840-65e151ad71bb.avif" alt="" srcset="">
                    <div class="overlay">
                        <div class="img_txt">
                            <p class="text-muted">Code with us</p>
                            <a href="localImgs/photo-1510936111840-65e151ad71bb.avif" data-lightbox="models"
                                data-title="Code along"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </div>
                    </div>
                </div>
                <div class="gal_box">
                    <img src="localImgs/photo-1510936111840-65e151ad71bb.avif" alt="" srcset="">
                    <div class="overlay">
                        <div class="img_txt">
                            <p class="text-muted">Code with us</p>
                            <a href="localImgs/photo-1510936111840-65e151ad71bb.avif" data-lightbox="models"
                                data-title="Code along"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </div>
                    </div>
                </div>
                <div class="gal_box">
                    <img src="localImgs/photo-1510936111840-65e151ad71bb.avif" alt="" srcset="">
                    <div class="overlay">
                        <div class="img_txt">
                            <p class="text-muted">Code with us</p>
                            <a href="localImgs/photo-1510936111840-65e151ad71bb.avif" data-lightbox="models"
                                data-title="Code along"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </div>
                    </div>
                </div>
                <div class="gal_box">
                    <img src="localImgs/photo-1510936111840-65e151ad71bb.avif" alt="" srcset="">
                    <div class="overlay">
                        <div class="img_txt">
                            <p class="text-muted">Code with us</p>
                            <a href="localImgs/photo-1510936111840-65e151ad71bb.avif" data-lightbox="models"
                                data-title="Code along"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <a class="btn btn-info galMore">More</a>
            </div>
        </section>
        <div class="" id="about"></div>
        <section class="about container-sm">
            <div class="row">
                <img class="col-md-6 img-fluid" src="localImgs/joshua-reddekopp-SyYmXSDnJ54-unsplash.jpg" alt=""
                    srcset="">
                <div class="about_txt col-md-6">
                    <h1 class="display-4 mb-0 mt-5">About Us</h1>
                    <div class="colorful-line mb-3 my-0 mx-auto"></div>
                    <div class="colorful-line mb-3"></div>
                    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse consequuntur, enim
                        repellendus
                        corrupti voluptatem earum aliquam nulla cum quo error rem eligendi dolor iure inventore sapiente
                        atque modi fuga aperiam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, iure
                        corporis totam rem optio maxime lo incidunt nisi libero ut at ullam sit pariatur quae recusandae
                        deserunt doloribus illum magnam consectetur?
                    </p>
                    <a class="btn btn-info" href="">Downlowad CV</a>
                </div>
            </div>
        </section>
        <div class="" id="skills"></div>
        <section class="skills container-sm">
            <h1 class="display-4 mb-0">Skills</h1>
            <div class="colorful-line mb-3 my-0 mx-auto"></div>
            <div class="wrapper row">
                <div class="col-md-6 mt-5">
                    <h2 class="mb-0 text-center">Tecknical skills</h2>
                    <div class="colorful-line mb-3 my-0 mx-auto"></div>
                    <div class="skill-box mt-3">
                        <h3>HTML</h3>
                        <div class="skills_content">
                            <div class="bar html_"></div>
                        </div>
                    </div>
                    <div class="skill-box mt-3">
                        <h3>CSS</h3>
                        <div class="skills_content">
                            <div class="bar css_"></div>
                        </div>
                    </div>
                    <div class="skill-box mt-3">
                        <h3>Bootstrap</h3>
                        <div class="skills_content">
                            <div class="bar bootstrap_"></div>
                        </div>
                    </div>
                    <div class="skill-box mt-3">
                        <h3>JavaScript</h3>
                        <div class="skills_content">
                            <div class="bar js_"></div>
                        </div>
                    </div>
                    <div class="skill-box mt-3">
                        <h3>NodeJS + Express</h3>
                        <div class="skills_content">
                            <div class="bar ex_"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-5">
                    <h2 class="mb-0 text-center">Soft skills</h2>
                    <div class="colorful-line mb-3 my-0 mx-auto"></div>
                    <div class="skill-box mt-3">
                        <h3>Communication</h3>
                        <div class="skills_content">
                            <div class="bar html_"></div>
                        </div>
                    </div>
                    <div class="skill-box mt-3">
                        <h3>Team Work</h3>
                        <div class="skills_content">
                            <div class="bar css_"></div>
                        </div>
                    </div>
                    <div class="skill-box mt-3">
                        <h3>Agile</h3>
                        <div class="skills_content">
                            <div class="bar bootstrap_"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="qualifications py-5">
            <div class="container-sm">
                <div class="text-center">
                    <h1 class="display-4 mb-0">Qualifications</h1>
                    <div class="colorful-line mb-3 my-0 mx-auto"></div>
                    <p class="lead">My personal jorny</p>
                    <div class="tabs">
                        <a class="btn btn-link ql-activ" href="#edc" data-target="#education"><i
                                class="fa-solid fa-graduation-cap"></i> Education</a>
                        <a class="btn btn-link exp" href="#exp" data-target="#expirience"><i
                                class="fa-solid fa-briefcase"></i> Expirience</a>
                    </div>
                </div>
                <div class="mt-5" data-content id="education">
                    <div class="data">
                        <div class="text-right">
                            <h3 class="">Buissniss Compuiting</h3>
                            <p>ISG</p>
                            <p><i class="fa-solid fa-calendar-days"></i> 2021-touday</p>
                        </div>
                        <div>
                            <span class="rounder"></span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="data">
                        <div class=""></div>
                        <div>
                            <span class="rounder"></span>
                            <!-- <span class="line"></span> -->
                        </div>
                        <div class="">
                            <h3 class="">Web Development Bootcamp</h3>
                            <p>GoMyCode</p>
                            <p><i class="fa-solid fa-calendar-days"></i> 2021-2022</p>
                        </div>
                    </div>
                </div>
                <div class="mt-5 d-none" data-content id="expirience">
                    <div class="data">
                        <div class="text-right">
                            <h3 class="">Freelancing</h3>
                            <p>Freelance.com</p>
                            <p><i class="fa-solid fa-calendar-days"></i> 2023-touday</p>
                        </div>
                        <div>
                            <span class="rounder"></span>
                            <span class="line"></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="" id="serv"></div>
        <section class="servises container-sm">
            <h1 class="display-4 text-center mb-0">Our Services</h1>
            <div class="colorful-line mb-3 my-0 mx-auto"></div>
            <div class="derv_content mt-5">
                <div class="item">
                    <i class="fa-solid fa-laptop"></i>
                    <div class="text">
                        <h3>Web Design</h3>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum similique unde
                            assumenda <span class="more d-none">dolor sit amet consectetur adipisicing elit. Cum
                                similique unde
                                assumenda</span></p>
                        <a class="btn btn-link p-0 btnMore">More</a>
                    </div>
                </div>
                <div class="item">
                    <i class="fa-sharp fa-solid fa-bag-shopping"></i>
                    <div class="text">
                        <h3>eCommerce</h3>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum similique unde
                            assumenda <span class="more d-none">dolor sit amet consectetur adipisicing elit. Cum
                                similique unde
                                assumenda</span></p>
                        <a class="btn btn-link p-0 btnMore">More</a>
                    </div>
                </div>
                <div class="item">
                    <i class="fa-solid fa-comments"></i>
                    <div class="text">
                        <h3>Web Applications</h3>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum similique unde
                            assumenda <span class="more d-none">dolor sit amet consectetur adipisicing elit. Cum
                                similique unde
                                assumenda</span></p>
                        <a class="btn btn-link p-0 btnMore">More</a>
                    </div>
                </div>
                <div class="item">
                    <i class="fa-solid fa-mobile"></i>
                    <div class="text">
                        <h3>Mobile Applications</h3>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum similique unde
                            assumenda <span class="more d-none">dolor sit amet consectetur adipisicing elit. Cum
                                similique unde
                                assumenda</span></p>
                        <a class="btn btn-link p-0 btnMore">More</a>
                    </div>
                </div>
                <div class="item">
                    <i class="fa-solid fa-desktop"></i>
                    <div class="text">
                        <h3>Desktop Applications</h3>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum similique unde
                            assumenda <span class="more d-none">dolor sit amet consectetur adipisicing elit. Cum
                                similique unde
                                assumenda</span></p>
                        <a class="btn btn-link p-0 btnMore">More</a>
                    </div>
                </div>
                <div class="item">
                    <i class="fa-solid fa-rocket"></i>
                    <div class="text">
                        <h3>Mareting</h3>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum similique unde
                            assumenda <span class="more d-none">dolor sit amet consectetur adipisicing elit. Cum
                                similique unde
                                assumenda</span></p>
                        <a class="btn btn-link p-0 btnMore">More</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="testmonial text-center py-5">
            <h1 class="display-4 text-center mb-0">Testemonlials</h1>
            <div class="colorful-line mb-3 my-0 mx-auto"></div>
            <div class="swiper container-sm">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper mt-5">
                    <!-- Slides -->
                    <div class="swiper-slide slide mt-5">
                        <div class="">
                            <img src="localImgs/joshua-reddekopp-SyYmXSDnJ54-unsplash.jpg" alt="" srcset="">
                            <p class="lead w-75 m-auto p-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Sed nisi
                                cumque
                                necessitatibus
                                quam velit
                                odit minus accusantium, enim sit nam! Maxime distinctio officia voluptatem optio
                                exercitationem
                                dolorum error incidunt. Adipisci?</p>
                            <i class="fa-solid fa-quote-left"></i>
                            <figure class="text-center  mt-3">
                                <blockquote class="blockquote">
                                    <p>Sommeone Else</p>
                                </blockquote>
                                <figcaption class="blockquote-footer">
                                    Instructuer in <cite title="Source Title">FSEG Sfex</cite>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="swiper-slide slide mt-5">
                        <div class="">
                            <img src="localImgs/joshua-reddekopp-SyYmXSDnJ54-unsplash.jpg" alt="" srcset="">
                            <p class="lead w-75 m-auto p-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Sed nisi
                                cumque
                                necessitatibus
                                quam velit
                                odit minus accusantium, enim sit nam! Maxime distinctio officia voluptatem optio
                                exercitationem
                                dolorum error incidunt. Adipisci?</p>
                            <i class="fa-solid fa-quote-left"></i>
                            <figure class="text-center  mt-3">
                                <blockquote class="blockquote">
                                    <p>Sommeone Else</p>
                                </blockquote>
                                <figcaption class="blockquote-footer">
                                    Instructuer in <cite title="Source Title">FSEG Sfex</cite>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="swiper-slide slide mt-5">
                        <div class="">
                            <img src="localImgs/photo-1510936111840-65e151ad71bb.avif" alt="" srcset="">
                            <p class="lead w-75 m-auto p-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Sed nisi
                                cumque
                                necessitatibus
                                quam velit
                                odit minus accusantium, enim sit nam! Maxime distinctio officia voluptatem optio
                                exercitationem
                                dolorum error incidunt. Adipisci?</p>
                            <i class="fa-solid fa-quote-left"></i>
                            <figure class="text-center mt-3">
                                <blockquote class="blockquote">
                                    <p>Sommeone Else</p>
                                </blockquote>
                                <figcaption class="blockquote-footer">
                                    Instructuer in <cite title="Source Title">FSEG Sfex</cite>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev btnx"></div>
                <div class="swiper-button-next btnx"></div>
            </div>
        </section>
        <section class="blogs container-sm">
            <h1 class="display-4 text-center mb-0">Blogs</h1>
            <div class="colorful-line mb-3 my-0 mx-auto"></div>
            <div class="row blog_wrapper mt-5">
                <div class="blog col-lg-4">
                    <div class="card">
                        <img src="localImgs/joshua-reddekopp-SyYmXSDnJ54-unsplash.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Some blog title</h5>
                            <span class="auth">Author </span>
                            <span class="auth">June 18 2020 </span>
                            <span class="cat">Catagory </span>
                            <hr>
                            <p class="card-text lead">Some quick example lead to build on the card title and make up the
                                bulk
                                of
                                the card's content.ome quick example text to build on the card title and make up the
                                bulk of
                                the card's content.</p>
                            <a href="#" class="btn btn-link p-0">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="blog col-lg-4">
                    <div class="card">
                        <img src="localImgs/joshua-reddekopp-SyYmXSDnJ54-unsplash.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Some blog title</h5>
                            <span class="auth">Author </span>
                            <span class="auth">June 18 2020 </span>
                            <span class="cat">Catagory </span>
                            <hr>
                            <p class="card-text lead">Some quick example text to build on the card title and make up the
                                bulk
                                of
                                the card's content.ome quick example text to build on the card title and make up the
                                bulk of
                                the card's content.</p>
                            <a href="#" class="btn btn-link p-0">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="blog col-lg-4">
                    <div class="card">
                        <img src="localImgs/joshua-reddekopp-SyYmXSDnJ54-unsplash.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Some blog title</h5>
                            <span class="auth">Author </span>
                            <span class="auth">June 18 2020 </span>
                            <span class="cat">Catagory </span>
                            <hr>
                            <p class="card-text lead">Some quick example text to build on the card title and make up the
                                bulk
                                of
                                the card's content.ome quick example text to build on the card title and make up the
                                bulk of
                                the card's content.</p>
                            <a href="#" class="btn btn-link p-0">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="" id="contact"></div>
        <section class="contact">
            <h1 class="display-4 text-center pt-5 mb-0">Contact Me</h1>
            <div class="colorful-line mb-3 my-0 mx-auto"></div>
            <div class="container-sm mt-5 wrapper">
                <form class="">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="lead" for="name">First Name</label>
                                <input type="text" class="form-control name" id="name" aria-describedby="nameHelp">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="lead" for="lname">Last Name</label>
                                <input type="text" class="form-control lname" id="lname" aria-describedby="lnameHelp">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="lead" for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control email" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label class="lead" for="mss">Message</label>
                        <textarea placeholder="What's on your mind ?" class="form-control" name="" id="mss" cols="30"
                            rows="10"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <div class="infos">
                    <div class="py-3">
                        <span class="d-block lead">Adress</span>
                        <span class="text-muted">203 Fake Adress, Tunisie</span>
                    </div>
                    <div class="py-3">
                        <span class="d-block lead">Phone</span>
                        <span class="text-info">+210 22 225 222</span>
                    </div>
                    <div class="py-3">
                        <span class="d-block lead">Email</span>
                        <span class="text-info">exemple@gamil.com</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="newspaper">
            <form class="container-sm" action="">
                <h1 class="mb-0">Keep Up To date !</h1>
                <div class="colorful-line mb-3"></div>
                <div class="form-group pt-3">
                    <label class="lead" for="exampleInputEmail1">Subbscribe to our newspaper</label>
                    <input type="email" class="form-control email" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </section>
        <footer class="text-left text-lg-start text-light">
            <div class="wrapper container-sm">
                <!-- Section: Social media -->
                <section class="d-flex justify-content-center p-3">

                    <!-- Right -->

                    <a href="">
                        <i class="fab fa-facebook-f me-4 text-secondary"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-twitter me-4 text-secondary pl-5"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-google me-4 text-secondary pl-5"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-instagram me-4 text-secondary pl-5"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-linkedin me-4 text-secondary pl-5"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-github me-4 text-secondary pl-5"></i>
                    </a>

                    <!-- Right -->
                </section>
                <!-- Section: Social media -->

            </div>
            <!-- Copyright -->
            <div class="text-center p-3 bg-dark">
                © 2021 Copyright: <a class="text-reset" href="">Ali Aydi</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="app.js"></script>
    <script src="dynamicTyping.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="swiper.js"></script>
    <script src="activeLink.js"></script>
    <script src="lightbox-plus-jquery.min.js"></script>
    <script src="particles/particles.js"></script>
    <script src="particles/app.js"></script>
</body>

</html>